.logo {
    width: 40px;
}

.navbar-toggler {
    background: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.review-input {
    outline: none;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 20%;
    margin-left: 23px;
    border: none;
    border-radius: 5px;
    background: none;
    background-color: burlywood;
}

.cta-btn {
    display: flex;
    justify-content: center;
}

.cta-btn button {
    border: none;
    background: none;
    background-color: blue;
    height: 50px;
    width: 57%;
    border-radius: 5px;
}

.cta-btn button:hover {
    background-color: #007BFF;
    color: black;
    transition: 0.3s;
}

.cta-btn button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.cta-btn button a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 12px;
    font-size: 14px;
}

footer {
    background-color: black;
    color: white;
    margin: 0;
    padding: 12px 40px
}