.logo {
    width: 40px;
}

.cta-btn {
    display: flex;
    justify-content: center;
}

.cta-btn button a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.cta-btn button {
    background-color: #007BFF;
    color: white;
    border: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
}

.cta-btn button:hover {
    background-color: #0056b3;
    transition: 0.3s;
}